extends layout.pug

block variables
  - var pageTitle = "Мясная продукция"
block content
  include blocks/aside
  .inner
    -var pageCatalog = false
    include blocks/crumbs
    .category
      .container
        .category__top
          .category__caption.title=pageTitle
          a.category__price(href="") Скачать прайс-лист.pdf
        .category__anchors
          .category__btn Показать категории
          .category__anchors-list
            a.category__anchor(href=`#${catalog.meet.group_1.id}`)=catalog.meet.group_1.caption
            a.category__anchor(href=`#${catalog.meet.group_2.id}`)=catalog.meet.group_2.caption
            a.category__anchor(href=`#${catalog.meet.group_3.id}`)=catalog.meet.group_3.caption
            a.category__anchor(href=`#${catalog.meet.group_4.id}`)=catalog.meet.group_4.caption
            a.category__anchor(href=`#${catalog.meet.group_5.id}`)=catalog.meet.group_5.caption
            a.category__anchor(href=`#${catalog.meet.group_6.id}`)=catalog.meet.group_6.caption
        .table-scroll
          table.table
            tr.table__caption
              td.table__name Наименование продукции
              td.table__term Срок годности в упаковке / после вскрытия
              td.table__weight Вес коробки
            +meet-group(catalog.meet.group_1)
            +meet-group(catalog.meet.group_2)
            +meet-group(catalog.meet.group_3)
            +meet-group(catalog.meet.group_4)
            +meet-group(catalog.meet.group_5)
            +meet-group(catalog.meet.group_6)
