-
  var versionFiles = 0,
  menu = [
    {
      "title": "О компании",
      "link": "about.html",
    },
    {
      "title": "Каталог",
      "link": "catalog.html",
      "submenu": [
        {
          "title": "Мясная продукция",
          "link": "meet.html"
        },
        {
          "title": "Молочная продукция",
          "link": "milk.html"
        },
        {
          "title": "Детское питание",
          "link": "kids.html"
        },
        {
          "title": "Продукция в заморозке",
          "link": "freez.html"
        },
        {
          "title": "Напитки",
          "link": "drinks.html"
        },
        {
          "title": "Фрукты",
          "link": "fruits.html"
        },
        {
          "title": "Овощи",
          "link": "vegetables.html"
        },
        {
          "title": "Орехи и сухофрукты",
          "link": "nuts.html"
        },
        {
          "title": "Корма для животных",
          "link": "feed.html"
        }]
    },
    {
      "title": "Доставка и оплата",
      "link": "delivery.html",
    },
    {
      "title": "Контакты",
      "link": "contacts.html",
    },
  ],
  slider = [
    {
      'title': 'Дистрибуция продуктов питания',
      'bg': 'images/slider-1.jpg'
    },
    {
      'title': 'Дистрибуция продуктов питания',
      'bg': 'images/slider-1.jpg'
    },
    {
      'title': 'Дистрибуция продуктов питания',
      'bg': 'images/slider-1.jpg'
    },
  ],
  category = [
    {
      'name':'Мясная продукция',
      'img':'images/category-1.jpg',
      'link': 'meet.html',
      'icon': 'meet',
    },
    {
      'name':'Молочная продукция',
      'img':'images/category-2.jpg',
      'link': 'milk.html',
      'icon': 'milk',
    },
    {
      'name':'Детское питание',
      'img':'images/category-3.jpg',
      'link': 'kids.html',
      'icon': 'kids',
    },
    {
      'name':'Продукция в заморозке',
      'img':'images/category-4.jpg',
      'link': 'freez.html',
      'icon': 'freezing',
    },
    {
      'name':'Напитки',
      'img':'images/category-5.jpg',
      'link': 'drinks.html',
      'icon': 'drinks',
    },
    {
      'name':'Фрукты',
      'img':'images/category-6.jpg',
      'link': 'fruit.html',
      'icon': 'fruit',
    },
    {
      'name':'Овощи',
      'img':'images/category-7.jpg',
      'link': 'vegetables.html',
      'icon': 'vegetables',
    },
    {
      'name':'Орехи и сухофрукты',
      'img':'images/category-8.jpg',
      'link': 'nuts.html',
      'icon': 'nuts',
    },
    {
      'name':'Корма для животных',
      'img':'images/category-9.jpg',
      'link': 'feed.html',
      'icon': 'feed',
    },
  ],
  geography = ['Россия', 'Узбекистан', 'Африка', 'Иран', 'Белорусь', 'Китай', 'Латинская Америка', 'Турция', 'Молдавия', 'Юго-Восточная Азия', 'Египет', 'Таджикистан',  'Европа', 'Израиль',
  ],
  catalog = {
    'meet': {
      'group_1': {
        'caption':'ВАРЕНЫЕ КОЛБАСНЫЕ ИЗДЕЛИЯ',
        'id': 'group1',
        'list': [
          {
            'name':'"Березинская по-Волковысски классик" (газ)',
            'term':'25/6 суток',
            'weight':'7,5-8',
          },
          {
            'name':'"Докторская" категории А ГОСТ, в/с',
            'term':'60 суток ',
            'weight':'10',
          },
          {
            'name':'"Докторская по-Волковысски", в/с',
            'term':'60 суток',
            'weight':'10',
          },
          {
            'name':'"Знатная классик", в/с (газ)',
            'term':'25/6 суток ',
            'weight':'8-10',
          },
          {
            'name':'"Ласунак по-Волковысски классик" в/с',
            'term':'60 суток ',
            'weight':'10',
          },
          {
            'name':'"Любимая по-Волковысски", в/с',
            'term':'60 суток ',
            'weight':'10',
          },
          {
            'name':'"Молодежная по-Волковысски", в/с',
            'term':'60 суток ',
            'weight':'10',
          },
          {
            'name':'"Молочная по-Волковысски гранд", в/с',
            'term':'60 суток ',
            'weight':'10',
          },
          {
            'name':'"Молочная по-Волковысски гранд", в/с (фикс.вес 0,45 кг)',
            'term':'60 суток ',
            'weight':'11,5',
          },
          {
            'name':'"Мортаделла по-Волковысски классик", в/с',
            'term':'60 суток',
            'weight':'10',
          },
          {
            'name':'"Мортаделла по-Волковысски классик", в/с (фикс.вес 0,60 кг)',
            'term':'60 суток ',
            'weight':'9,5',
          },
          {
            'name':'"Останкинская по-Волковысски", в/с',
            'term':'60 суток ',
            'weight':'10',
          },
          {
            'name':'"Останкинская по-Волковысски", в/с (фикс.вес 0,45 кг)',
            'term':'60 суток',
            'weight':'11,5',
          },
          {
            'name':'"С салом", в/с ',
            'term':'60 суток',
            'weight':'10',
          },
          {
            'name':'"Славянская по-Волковысски", в/с (газ)',
            'term':'25/6 суток ',
            'weight':'9-10',
          },
          {
            'name':'"Сливочная с маслицем по-Волковысски", в/с',
            'term':'60 суток',
            'weight':'10',
          },
          {
            'name':'"Столичная", в/с',
            'term':'60 суток',
            'weight':'10',
          },
          {
            'name':'"Янтарная с телятиной", в/с',
            'term':'25 суток',
            'weight':'7,5-8',
          },
        ]
      },
      'group_2': {
        'caption':'CОСИСКИ, CАРДЕЛЬКИ (газ по 2,5 кг)',
        'id': 'group2',
        'list': [
          {
            'name':'Сард. "Купеческие по-Волковысски классик", б/с (газ)',
            'term':'25/6 суток ',
            'weight':'4,5-5,5',
          },
          {
            'name':'С-ки "Аппетитные по-Волковысски классик", в/с (газ)',
            'term':'30/20 суток',
            'weight':'4,5-5,5',
          },
          {
            'name':'С-ки "Вкусные с сыром по-Волковысски классик", в/с (газ)',
            'term':'25/6 суток ',
            'weight':'4,5-5,5',
          },
          {
            'name':'С-ки "Волковысские оригинальные классик", в/с (газ)',
            'term':'30/20 суток',
            'weight':'4,5-5,5',
          },
          {
            'name':'С-ки "Любительские" категории Б (без газ.упаковки)',
            'term':'30 суток',
            'weight':'9-10',
          },
          {
            'name':'С-ки "Молочные по-Волковысски классик", в/с (газ)',
            'term':'30/20 суток',
            'weight':'4,5-5,5',
          },
          {
            'name':'С-ки "Молочные по-Волковысски классик", в/с (вак., 0,3 кг)',
            'term':'30 суток',
            'weight':'6',
          },
          {
            'name':'С-ки "Молочные по-Волковысски люкс", в/с (газ)',
            'term':'25/6 суток',
            'weight':'4,5-5,5',
          },
          {
            'name':'С-ки "Сливочные по-Волковысски классик", в/с (газ)',
            'term':'30/20 суток',
            'weight':'4,5-5,5',
          },
          {
            'name':'С-ки "Сливочные по-Волковысски классик", в/с (вак., 0,3 кг)',
            'term':'30 суток',
            'weight':'6',
          },
          {
            'name':'С-ки "Троицкие по-Волковысски классик", в/с (газ)',
            'term':'25/6 суток ',
            'weight':'4,5-5,5',
          },
          {
            'name':'Шпикачки "Сытные гранд", 2 с (газ)',
            'term':'21/6 суток',
            'weight':'4,5-5,5',
          },
        ]
      },
      'group_3': {
        'caption':'КОЛБАСНЫЕ ИЗДЕЛИЯ П/К (газ)',
        'id': 'group3',
        'list': [
          {
            'name':'Колбаски "Для гриля микс" 2 с (газ)',
            'term':'25/10 суток ',
            'weight':'~9',
          },
          {
            'name':'"Беловежская микс" 2 с (газ)',
            'term':'25/10 суток ',
            'weight':'8,5-9',
          },
          {
            'name':'"Бородинская" в/с (газ)',
            'term':'25/10 суток ',
            'weight':'8,5-10',
          },
          {
            'name':'"Волковысская люкс" 1 с (газ)',
            'term':'25/10 суток ',
            'weight':'~9',
          },
          {
            'name':'"Курортная ароматная особая" 2 с (газ)',
            'term':'25/10 суток ',
            'weight':'~9',
          },
          {
            'name':'"Пикник люкс" 1 с (газ)',
            'term':'25/10 суток ',
            'weight':'~9',
          },
          {
            'name':'"Чесночная ароматная люкс" 2 с (газ)',
            'term':'25/10 суток ',
            'weight':'~9',
          },
          {
            'name':'"Ярмарочная ароматная новая" 2 с (газ)',
            'term':'25/10 суток ',
            'weight':'~9',
          },
        ]
      },
      'group_4': {
        'caption':'КОЛБАСНЫЕ  ИЗДЕЛИЯ  В/К (газ)',
        'id': 'group4',
        'list': [
          {
            'name':'"Барбадос по-Волковысски" в/с (газ)',
            'term':'25/10 суток ',
            'weight':'~8',
          },
          {
            'name':'"Двинская гранд" в/с (газ)',
            'term':'25/10 суток ',
            'weight':'~8',
          },
          {
            'name':'"Изысканная гранд" в/с (газ)',
            'term':'25/10 суток ',
            'weight':'~8',
          },
          {
            'name':'"Казацкая с сыром гранд" б/с (газ)',
            'term':'25/10 суток ',
            'weight':'~8',
          },
          {
            'name':'Сервелат "Австрийский гранд" в/с (газ)',
            'term':'25/10 суток ',
            'weight':'8-10',
          },
          {
            'name':'Сервелат "Волковысский классик" в/с (газ)',
            'term':'25/10 суток ',
            'weight':'8-10',
          },
          {
            'name':'Сервелат "Королевский гранд" в/с (газ)',
            'term':'25/10 суток ',
            'weight':'8-10',
          },
          {
            'name':'Сервелат "Ореховый" б/с (газ)',
            'term':'25/10 суток ',
            'weight':'8-10',
          },
          {
            'name':'Сервелат "Пражский" в/с (газ)',
            'term':'25/10 суток ',
            'weight':'8-10',
          },
          {
            'name':'Сервелат "Швейцарский с сыром" в/с (газ)',
            'term':'25/10 суток ',
            'weight':'8-10',
          },
          {
            'name':'"Тирольская классик" б/с (газ)',
            'term':'25/10 суток ',
            'weight':'~8',
          },
          {
            'name':'"Хуторская классик" б/с (газ)',
            'term':'25/10 суток ',
            'weight':'~8',
          },
        ]
      },
      'group_5': {
        'caption':'ПРОДУКТЫ К/В, К/З, С/К',
        'id': 'group5',
        'list': [
          {
            'name':'Бекон "Аппетитный классик" к/з (газ)',
            'term':'20/6 суток ',
            'weight':'~8',
          },
          {
            'name':'Рулет "Элитный классик" к/з (газ)',
            'term':'20/6 суток ',
            'weight':'~8',
          },
          {
            'name':'"Буженина по-Волковысски гранд" к/в (газ)',
            'term':'45/3 суток ',
            'weight':'~9',
          },
          {
            'name':'"Ветчина Столичная гранд" к/в (газ)',
            'term':'45/3 суток ',
            'weight':'~9',
          },
          {
            'name':'"Вырезка нежная гранд" к/в (газ)',
            'term':'45/3 суток ',
            'weight':'10',
          },
          {
            'name':'Голяшка "Столичная гранд" к/в ',
            'term':'12 суток',
            'weight':'~8',
          },
          {
            'name':'Грудинка "Изысканная гранд" к/в (газ)',
            'term':'45/3 суток ',
            'weight':'8',
          },
          {
            'name':'Закуска "Домашняя гранд" к/в ',
            'term':'12 суток',
            'weight':'~9',
          },
          {
            'name':'Закуска "Крестьянская гранд" к/в ',
            'term':'12 суток',
            'weight':'~9',
          },
          {
            'name':'"Ковалочек по-Волковысски гранд" к/в (газ)',
            'term':'45/3 суток ',
            'weight':'~9',
          },
          {
            'name':'Кумпячок "Европейский гранд" к/в (газ)',
            'term':'45/3 суток ',
            'weight':'8-10',
          },
          {
            'name':'Орех "Оригинальный новый" к/в (газ)',
            'term':'45/3 суток ',
            'weight':'7,5-8',
          },
          {
            'name':'Пашина "Столичная гранд" к/в (газ)',
            'term':'45/3 суток ',
            'weight':'~8',
          },
          {
            'name':'Поляндвица "Столичная гранд" к/в (газ)',
            'term':'45/3 суток ',
            'weight':'~9',
          },
          {
            'name':'Ребрышки "Домашние гранд" к/в ',
            'term':'12 суток',
            'weight':'~9',
          },
          {
            'name':'Рулет "Замковый гранд" к/в (газ)',
            'term':'45/3 суток ',
            'weight':'~9',
          },
          {
            'name':'Рулет "Фирменный престиж" к/в (газ)',
            'term':'45/3 суток ',
            'weight':'8-10',
          },
          {
            'name':'Свинина "Волковысская гранд" к/в (газ)',
            'term':'45/3 суток ',
            'weight':'~9',
          },
          {
            'name':'Филей "Элитный гранд" к/в (газ)',
            'term':'45/3 суток ',
            'weight':'~9',
          },
          {
            'name':'Закуска "Королевская новая" с/к (инд.вакуум)',
            'term':'20 суток',
            'weight':'~9',
          },
          {
            'name':'Пастрома "Юбилейная новая" с/к (инд.вакуум)',
            'term':'20 суток',
            'weight':'~9',
          },
          {
            'name':'Бастурма "Восточная" с/к (инд.вакуум)',
            'term':'20 суток',
            'weight':'~9',
          },
        ]
      },
      'group_6': {
        'caption':'ПЕЛЬМЕНИ',
        'id': 'group6',
        'list': [
          {
            'name':' «Элитные» кат.Б 0,40 кг',
            'term':'30-90 суток',
            'weight':'0,4',
          },
          {
            'name':' «Элитные» кат.Б россыпь за 1 кг.(короб 10 кг.)',
            'term':'30-90 суток',
            'weight':'10',
          },
          {
            'name':'«Боярские» кат.В 0,40 кг',
            'term':'30-90 суток',
            'weight':'0,4',
          },
          {
            'name':'«Боярские» кат.В россыпь за 1 кг.(короб 10 кг.)',
            'term':'30-90 суток',
            'weight':'10',
          },
          {
            'name':'«Домашние» кат.В 0,40 кг',
            'term':'30-90 суток',
            'weight':'0,4',
          },
          {
            'name':'«Домашние» кат.В россыпь 1 кг.(короб 10 кг.)',
            'term':'30-90 суток',
            'weight':'10',
          },
          {
            'name':'«Купеческие» кат.В 0,40 кг',
            'term':'30-90 суток',
            'weight':'0,4',
          },
          {
            'name':'«Купеческие» кат.В россыпь 1 кг. (короб 10 кг.)',
            'term':'30-90 суток',
            'weight':'10',
          },
        ]
      },
    },
    'milk': [
      {
        'name':'Масло сладкосливочное несоленое, массовая доля жира 61,0 %, в кашированной фольге',
        'weight': '160 г'
      },
      {
        'name':'Масло сладкосливочное несоленое, массовая доля жира 73,0 %, в кашированной фольге',
        'weight': '180 г'
      },
      {
        'name':'Масло сладкосливочное несоленое, массовая доля жира 83,0 %, в кашированной фольге',
        'weight': '180 г'
      },
      {
        'name':'Молоко питьевое стерилизованное для питания детей раннего возраста массовая доля жира 3,2%, Tetra Brik Aseptic (TBA)',
        'weight': '200 мл'
      },
      {
        'name':'Молоко  питьевое стерилизованное для питания детей раннего возраста обогащенное витаминами А и С массовая доля жира 2,5%, Tetra Brik Aseptic (TBA)',
        'weight': '200 мл'
      },
      {
        'name':'Кефир для  питания детей раннего возраста обогащенный бифидобактериями  массовая доля жира 3,2%, Tetra Brik Aseptic (TBA)',
        'weight': '207 г'
      },
      {
        'name':'Кефир для  питания детей раннего возраста  массовая доля жира 3,2%, Tetra Brik Aseptic (TBA)',
        'weight': '207 г'
      },
      {
        'name':'Продукт кисломолочный сладкий для питания детей раннего возраста "Биолакт", массовая доля жира 3,2%, Tetra Brik Aseptic (TBA)',
        'weight': '210 г'
      },
      {
        'name':'Продукт кисломолочный для питания детей раннего возраста "Биолакт" массовой долей жира 3,2%, Tetra Brik Aseptic (TBA)',
        'weight': '210 г'
      },
      {
        'name':'Продукт кисломолочный для питания детей раннего возраста "Биолакт" "Голубика", массовая доля жира 2,9%, Tetra Brik Aseptic (TBA) ',
        'weight': '210 г'
      },
      {
        'name':'Творог для питания детей раннего возраста массовая доля жира 6,0%, в стакане ПС/ПЭ ',
        'weight': '100 г'
      },
      {
        'name':'Творог для питания детей раннего возраста "Банан-земляника", массовая доля жира 4,0%, в стакане PS/PE',
        'weight': '100 г'
      },
      {
        'name':'Творог для питания детей раннего возраста "Груша", массовая доля жира 4,0%, в стакане PS/PE',
        'weight': '100 г'
      },
      {
        'name':'Творог для питания детей раннего возраста "Персик-Клубника", массовая доля жира 4,0%, в стакане PS/PE',
        'weight': '100 г'
      },
      {
        'name':'Творог для питания детей раннего возраста "Черника", массовая доля жира 4,0%, в стакане PS/PE',
        'weight': '100 г'
      },
      {
        'name':'Творог для питания детей раннего возраста "Яблоко", массовая доля жира 4,0%, в стакане PS/PE',
        'weight': '100 г'
      },
      {
        'name':'Йогурт для питания детей раннего возраста  "Малина - Земляника", массовая доля жира 3,0%, в стакане PS/PE',
        'weight': '100 г'
      },
      {
        'name':'Йогурт для питания детей раннего возраста  с наполнителем "Черника - Земляника-Ежевика", массовая доля жира 3,0%, в стакане PS/PE',
        'weight': '100 г'
      },
      {
        'name':'Йогурт для питания детей раннего возраста  с наполнителем "Яблоко-Персик-Банан", массовая доля жира 3,0%, в стакане PS/PE',
        'weight': '100 г'
      },
      {
        'name':'Йогурт для питания детей раннего возраста с пребиотиком, массовая доля жира 3,2%, в стакане PS/PE',
        'weight': '100 г'
      },
      {
        'name':'Йогурт для питания детей раннего возраста с пребиотиком "Голубика", массовая доля жира 2,9%, в стакане PS/PE',
        'weight': '100 г'
      },
      {
        'name':'Йогурт для питания детей раннего возраста питьевой с бифидобактериями и пребиотиком, массовая доля жира 2,8%, Tetra Brik Aseptic (TBA)',
        'weight': '210 г'
      },
      {
        'name':'Йогурт для питания детей раннего возраста питьевой с бифидобактериями и пребиотиком с наполнителем "Груша-абрикос", массовая доля жира 2,6%, Tetra Brik Aseptic (TBA)',
        'weight': '210 г'
      },
      {
        'name':'Йогурт для питания детей раннего возраста питьевой с бифидобактериями с наполнителем "Клубника-банан", массовая доля жира 2,6%, Tetra Brik Aseptic (TBA)',
        'weight': '210 г'
      },
      {
        'name':'Йогурт для питания детей раннего возраста питьевой с бифидобактериями с наполнителем "Лесная ягода", массовая доля жира 2,6%, Tetra Brik Aseptic (TBA)',
        'weight': '210 г'
      },
      {
        'name':'Йогурт для питания детей раннего возраста питьевой с бифидобактериями с наполнителем "Яблоко-малина", массовая доля жира 2,6%, Tetra Brik Aseptic (TBA)',
        'weight': '210 г'
      },
      {
        'name':'Йогурт для питания детей дошкольного и школьного возраста обогащенный кальцием и витаминами В1, В6, D с наполнителем «Мандарин» с маршмеллоу,  массовая доля жира в молочной части 2,5%, в полимерном стакане',
        'weight': '106 г'
      },
      {
        'name':'Каша молочная стерилизованная для питания детей раннего возраста рисовая, Tetra Brik Aseptic (TBA)',
        'weight': '207 г'
      },
      {
        'name':'Каша молочная стерилизованная для питания детей раннего возраста гречневая, Tetra Brik Aseptic (TBA)',
        'weight': '207 г'
      },
      {
        'name':'Каша молочная стерилизованная для питания детей раннего возраста мультизлаковая, Tetra Brik Aseptic (TBA)',
        'weight': '207 г'
      },
      {
        'name':'Каша молочная стерилизованная для питания детей раннего возраста овсяная, Tetra Brik Aseptic (TBA)',
        'weight': '207 г'
      },
      {
        'name':'Каша молочная стерилизованная для питания детей раннего возраста  овсяная "Клубника-малина-черника" с пребиотиком "Баюшка", Tetra Brik Aseptic (TBA)',
        'weight': '210 г'
      },
      {
        'name':'Каша молочная стерилизованная для питания детей раннего возраста  пшеничная тыквенная с пребиотиком "Баюшка", Tetra Brik Aseptic (TBA)',
        'weight': '210 г'
      },
      {
        'name':'Каша молочная стерилизованная для питания детей раннего возраста рисовая "Банан-мелисса" с пребиотиком "Баюшка", Tetra Brik Aseptic (TBA)',
        'weight': '210 г'
      },
      {
        'name':'Коктейль молочный ультрапастеризованный для питания детей дошкольного и школьного возраста обогащенный кальцием и витаминами В1, В6, D с ароматом ванили. Массовая доля жира 2,5%, Tetra Brik Aseptic (TBA)',
        'weight': '210 г'
      },
      {
        'name':'Коктейль молочный ультрапастеризованный для питания детей дошкольного и школьного возраста обогащенный кальцием и витаминами В1, В6, D с ароматом клубники. Массовая доля жира 2,5%, Tetra Brik Aseptic (TBA)',
        'weight': '210 г'
      },
      {
        'name':'Коктейль молочный ультрапастеризованный для питания детей дошкольного и школьного возраста обогащенный кальцием и витаминами В1, В6, D с какао "Шоколадная сказка". Массовая доля жира 2,5%, Tetra Brik Aseptic (TBA)',
        'weight': '210 г'
      },
      {
        'name':'Сметана, массовая доля жира 16 %, в полимерном стакане',
        'weight': '180 г'
      },
      {
        'name':'Сметана, массовая доля жира 16 %, в полимерном стакане',
        'weight': '380 г'
      },
      {
        'name':'Сметана, массовая доля жира 16 %, в полимерной пленке',
        'weight': '400 г'
      },
      {
        'name':'Сметана, массовая доля жира 21 %, в полимерном стакане',
        'weight': '180 г'
      },
      {
        'name':'Сметана, массовая доля жира 21 %, в полимерном стакане',
        'weight': '380 г'
      },
      {
        'name':'Сметана, массовая доля жира 21 %, в полимерной пленке',
        'weight': '400 г'
      },
      {
        'name':'Сметана, массовая доля жира 26 %, в полимерном стакане',
        'weight': '380 г'
      },
      {
        'name':'Сметана, массовая доля жира 26 %, в полимерной пленке',
        'weight': '400 г'
      },
      {
        'name':'Творог,  массовая доля жира 1%, в полимерной пленке под вакуумом',
        'weight': '350 г'
      },
      {
        'name':'Творог,  массовая доля жира 5%, в полимерной пленке под вакуумом',
        'weight': '350 г'
      },
      {
        'name':'Творог,  массовая доля жира 1%, в полимерной пленке (двойная упаковка)',
        'weight': '200 г'
      },
      {
        'name':'Творог,  массовая доля жира 5%, в полимерной пленке (двойная упаковка)',
        'weight': '200 г'
      },
      {
        'name':'Творог,  массовая доля жира 10%, в полимерной пленке (двойная упаковка)',
        'weight': '200 г'
      },
      {
        'name':'Творог зерненый, массовая доля жира 5,0%,в полимерном стакане ',
        'weight': '180 г'
      },
      {
        'name':'Творог зерненый, массовая доля жира 5,0%,в полимерном стакане ',
        'weight': '380 г'
      },
      {
        'name':'Творог зерненый с наполнителем "Черника", массовая доля жира в творожной части 5,0 %, в полимерном двухкамерном стакане ',
        'weight': '130 г'
      },
      {
        'name':'Творог зерненый с наполнителем "Клубника", массовая доля жира в творожной части 5,0 %, в полимерном двухкамерном стакане ',
        'weight': '130 г'
      },
      {
        'name':'Творог зерненый  "Клубника" , массовая доля жира 5%, в полимерном двухкамерном стакане ',
        'weight': '130 г'
      },
      {
        'name':'Сырок творожный глазированный с ароматом ванили, массовая доля жира в творожной части продукта  18,0 %, в полимерной пленке',
        'weight': '40 г'
      },
      {
        'name':'Сырок творожный глазированный "Картошка" с ароматом рома и бисквита с печеньем, массовая доля жира в творожной части продукта 18,0 %, в полимерной пленке',
        'weight': '40 г'
      },
      {
        'name':'Сырок творожный глазированный в карамельной глазури с ароматом ванили, массовая доля жира в творожной части продукта  18,0 %, в полимерной пленке',
        'weight': '40 г'
      },
      {
        'name':'Сырок творожный глазированный в карамельной глазури с малиной и красной смородиной, массовая доля жира в творожной части продукта  18,0 %, в полимерной пленке',
        'weight': '40 г'
      },
      {
        'name':'Сырок творожный глазированный в карамельной глазури с чёрной смородиной, массовая доля жира в творожной части продукта  18,0 %, в полимерной пленке',
        'weight': '40 г'
      },
      {
        'name':'Сырок творожный глазированный "Картошка" с ароматом рома и бисквита с печеньем, массовая доля жира в творожной части продукта 18,0 %, в полимерной пленке',
        'weight': '50 г'
      },
      {
        'name':'Сырок творожный сладкий с ароматом ванили, массовая доля жира в творожной части продукта 7,0%, в полимерной пленке (двойная упаковка)',
        'weight': '100 г'
      },
      {
        'name':'Сырок творожный сладкий с мармеладом, массовая доля жира в творожной части продукта 7,0%, в полимерной пленке (двойная упаковка)',
        'weight': '100 г'
      },
      {
        'name':'Десерт творожный "Картошка" с ароматом рома и бисквита с печеньем, массовая доля жира 10,0%, в полимерной пленке (двойная упаковка)',
        'weight': '100 г'
      },
      {
        'name':'Пирожное с творогом с вафлей с начинкой "Вареная сгущенка" в глазури, массовая доля жира в творожной части продукта 23,0%, в полимерной пленке',
        'weight': '100 г'
      },
      {
        'name':'Пирожное с творогом с вафлей с начинкой "Черника" в глазури, массовая доля жира в творожной части продукта 23,0%, в полимерной пленке',
        'weight': '100 г'
      },
      {
        'name':'Пирожное с творогом  с "шоколадной" вафлей с начинкой "Фундук" в глазури, массовая доля жира в творожной части продукта 23,0%, в полимерной пленке',
        'weight': '100 г'
      },
      {
        'name':'Пирожное с творогом  с "шоколадной" вафлей с начинкой кокосовой в глазури, массовая доля жира в творожной части продукта 23,0%, в полимерной пленке',
        'weight': '100 г'
      },
      {
        'name':'Пирожное с творогом с печеньем с ароматом ванили в глазури, массовая доля жира в творожной части продукта 24,0%, в полимерной пленке',
        'weight': '75 г'
      },
      {
        'name':'Пирожное с творогом с печеньем с какао в глазури, массовая доля жира в творожной части продукта 24,0%, в полимерной пленке',
        'weight': '75 г'
      },
      {
        'name':'Пирожное с творогом с печеньем с миндалем в глазури, массовая доля жира в творожной части продукта 24,0%, в полимерной пленке',
        'weight': '75 г'
      },
      {
        'name':'Пирожное с творогом с вафлей с начинкой "Шоколад-орех" в глазури, массовая доля жира в творожной части продукта 23,0%, в полимерной пленке',
        'weight': '100 г'
      },
      {
        'name':'Торт с творогом с изюмом с ореховой начинкой в глазури,  массовая доля жира в творожной части продукта 24,0%, в полимерной пленке ',
        'weight': '200 г'
      },
      {
        'name':'Торт с творогом с начинкой "Ред вельвет" в глазури,  массовая доля жира в творожной части продукта 24,0%, в полимерной пленке',
        'weight': '200 г'
      },
      {
        'name':'Торт с творогом с начинкой "Миндаль-чернослив с ароматом безе" в глазури,  массовая доля жира в творожной части продукта 24,0%, в полимерной пленке',
        'weight': '200 г'
      },
      {
        'name':'Йогурт "Вишня", массовая доля жира 2,5%, в полимерном стакане',
        'weight': '150 г'
      },
      {
        'name':'Йогурт "Клубника", массовая доля жира 2,5%, в полимерном стакане',
        'weight': '150 г'
      },
      {
        'name':'Йогурт "Персик", массовая доля жира 2,5%, в полимерном стакане',
        'weight': '150 г'
      },
      {
        'name':'Йогурт "Черника", массовая доля жира 2,5%, в полимерном стакане',
        'weight': '150 г'
      },
      {
        'name':'Биойогурт "Гранола", массовая доля жира 3%, в полимерном стакане',
        'weight': '150 г'
      },
      {
        'name':'Йогурт с пребиотиком, массовая доля жира 3,5%, в полимерном стакане',
        'weight': '130 г'
      },
      {
        'name':'Десерт сливочный "Panna Cotta" с ароматом ванили массовая доля жира 10,0%, в полимерном стакане ',
        'weight': '150 г'
      },
      {
        'name':'Десерт сливочный "Panna Cotta" с какао, массовая доля жира 10,0%, в полимерном стакане ',
        'weight': '150 г'
      },
      {
        'name':'Десерт молочный "Panna Cotta" со вкусом "Шоколад-ром-вишня", массовая доля жира 8,0%, в полимерном двухкамерном стакане ',
        'weight': '150 г'
      },
      {
        'name':'Десерт молочный "Panna Cotta" с фруктовым наполнителем "Гранатовый сорбет", массовая доля жира 8,0%, в полимерном двухкамерном стакане ',
        'weight': '150 г'
      },
      {
        'name':'Паста десертная молочная термизированная «Вареная сгущенка» с наполнителем "Шоколад-орех" массовая доля жира 4,5%, в полимерном стакане',
        'weight': '250 г'
      },
      {
        'name':'Десерт "Шоколадная колбаса", массовая доля жира 25,0%, в картонной коробке',
        'weight': '300 г'
      },
      {
        'name':'Сливки питьевые стерилизованные массовая доля жира 10,0%, Tetra Brik Aseptic (TBA)',
        'weight': '200 г'
      },
      {
        'name':'Сливки питьевые стерилизованные массовая доля жира 20,0%, Tetra Brik Aseptic (TBA)',
        'weight': '200 г'
      },
      {
        'name':'Крем сливочный для взбивания стерилизованный, массовая доля жира 33,0%, Tetra Brik Aseptic (TBA)',
        'weight': '200 г'
      },
      {
        'name':'Молоко козье питьевое стерилизованное цельное, массовая доля жира от 2,5% до 4,0%, Tetra Brik Aseptic (TBA) ',
        'weight': '200 мл'
      },
      {
        'name':'Ряженка, массовая доля жира 4,0%, в полимерном стакане ',
        'weight': '380 г'
      },
      {
        'name':'Каша молочная термизированная овсяная, массовая доля жира 3,0%, в полимерном стакане с покрывающей крышкой с ложкой',
        'weight': '150 г'
      },
      {
        'name':'Каша молочная термизированная рисовая, массовая доля жира 3,0%, в полимерном стакане с покрывающей крышкой с ложкой',
        'weight': '150 г'
      },
      {
        'name':'Каша молочная термизированная гречневая "Полезный завтрак", массовая доля жира 3,0%,  в полимерном стакане с покрывающей крышкой с ложкой',
        'weight': '150 г'
      },
      {
        'name':'Каша молочная термизированная из пшеничного булгура, массовая доля жира 3,0%,  в полимерном стакане с покрывающей крышкой с ложкой',
        'weight': '150 г'
      },
      {
        'name':'Каша молочная термизированная из киноа, массовая доля жира 3,0%,  в полимерном стакане с покрывающей крышкой с ложкой',
        'weight': '150 г'
      },
    ],
    'drinks': {
      'group_1': {
        'caption': 'Консервы стерилизованные. Стеклобутылка 1 л.',
        'id': 'group1',
        'list': [
          {
            'name':'Сок березовый с сахаром',
            'term':'2 года',
            'amount': '6'
          },
          {
            'name':'Сок березовый, настоянный на мяте с сахаром',
            'term':'2 года',
            'amount': '6'
          },
          {
            'name':'Сок березовый "Бодрость" с настоем шиповника',
            'term':'2 года',
            'amount': '6'
          },
          {
            'name':'Сок яблочный прямого отжима',
            'term':'2 года',
            'amount': '6'
          },
          {
            'name':'Сок яблочно-персиковый с мякотью прямого отжима',
            'term':'2 года',
            'amount': '6'
          },
          {
            'name':'Сок из яблок и манго с мякотью прямого отжима',
            'term':'2 года',
            'amount': '6'
          },
          {
            'name':'Сок яблочно-грушевый с мякотью прямого отжима',
            'term':'2 года',
            'amount': '6'
          },
          {
            'name':'Сок томатный с мякотью с солью восстановленный',
            'term':'2 года',
            'amount': '6'
          },
          {
            'name':'Сок томатный с мякотью с сахаром и солью восстан.',
            'term':'2 года',
            'amount': '6'
          },
          {
            'name':'Нектар сливовый с мякотью',
            'term':'2 года',
            'amount': '6'
          },
          {
            'name':'Нектар морковный с мякотью',
            'term':'2 года',
            'amount': '6'
          },
          {
            'name':'Нектар морковно-яблочный с мякотью',
            'term':'2 года',
            'amount': '6'
          },
          {
            'name':'Нектар морковно-тыквенный с мякотью',
            'term':'2 года',
            'amount': '6'
          },
          {
            'name':'Нектар тыквенный с мякотью',
            'term':'2 года',
            'amount': '6'
          },
          {
            'name':'Нектар тыквенно-яблочный с мякотью',
            'term':'2 года',
            'amount': '6'
          },
        ]
      },
      'group_2': {
        'caption':'Консервы стерилизованные 500 гр.',
        'id': 'group2',
        'list': [
          {
            'name':'Соус томатный "Классический" 500 гр',
            'term':'2 года',
            'amount':'12'
          },
          {
            'name':'Соус томатный "Шашлычный" 500 гр',
            'term':'2 года',
            'amount':'12'
          },
          {
            'name':'Соус томатный "Краснодарский Новый" 500 гр',
            'term':'2 года',
            'amount':'12'
          },
          {
            'name':'Соус томатный "Минский" 500 гр',
            'term':'2 года',
            'amount':'12'
          },
          {
            'name':'Соус томатный "Малоритский"500 гр',
            'term':'2 года',
            'amount':'12'
          },
        ]
      }
    },
    'feed': [
      {
        'name':'«PetBoom» корм сухой для взрослых собак средних пород мясное ассорти	2	118,49 ₽',
        'weight':'2'
      },
      {
        'name':'Ингредиенты:  злаки и продукты их переработки (пшеница, отруби), мука животного происхождения (мука мясокостная, мука из птицы), натуральный усилитель вкуса, жом сушеный, жир животный пищевой, масло растительное, витаминно-минеральный комплекс, метионин.',
        'weight':'10'
      },
      {
        'name':'«РЭКС» корм сухой  для взрослых собак средних и крупных пород',
        'weight':'2'
      },
      {
        'name':'Ингредиенты: злаки и продукты их переработки (кукуруза, отруби, пшеница), мука животного происхождения (мука мясокостная, мука из птицы), продукт соевый, жир животный пищевой, рис, витаминно-минеральный комплекс, масло растительное, метионин, триптофан.',
        'weight':'5'
      },
      {
        'name':' «РЭКС Плюс» корм сухой для взрослых собак средних и крупных пород с повышенной активностью',
        'weight':'5'
      },
      {
        'name':'Ингредиенты:  злаки и продукты их переработки (кукуруза, пшеница, отруби), мука животного происхождения (мука мясокостная, мука из птицы), продукт соевый, рис, жир животный пищевой, натуральный усилитель вкуса, масло растительное, горох, мука рыбная, льняное семя, дрожжи пивные, витаминно-минеральный комплекс, морковь сушеная, метионин, яичный порошок, глюкозамина гидрохлорид, хондроитина сульфат.',
        'weight':'15'
      },
      {
        'name':'«PetBoom» корм сухой для взрослых кошек с птицей и рисом',
        'weight':'0,4'
      },
      {
        'name':'Ингредиенты: злаки и продукты их переработки (кукуруза, отруби), мука животного происхождения (мука из птицы, мука мясокостная), продукт соевый, жир животный пищевой, рис, натуральный усилитель вкуса, масло растительное, витаминно-минеральный комплекс (в том числе таурин), дрожжи пивные, метионин.',
        'weight':'10'
      },
      {
        'name':'«PetBoom» корм сухой для взрослых кошек с рыбой',
        'weight':'0,4'
      },
      {
        'name':'Ингредиенты: злаки и продукты их переработки (кукуруза, отруби, пшеница), мука животного происхождения (мука мясокостная, мука из птицы), продукт соевый, мука рыбная, жир животный пищевой, натуральный усилитель вкуса, масло растительное, витаминно-минеральный комплекс (в том числе таурин), дрожжи пивные, метионин.',
        'weight':'10'
      },
      {
        'name':'«PetBoom» корм сухой для взрослых кошек с мясом и овощами',
        'weight':'0,4'
      },
      {
        'name':'Ингредиенты: злаки и продукты их переработки (пшеница, отруби, кукуруза), мука животного происхождения (мука мясокостная, мука из птицы), продукт соевый, жир животный пищевой, натуральный усилитель вкуса, масло растительное, витаминно-минеральный комплекс (в том числе таурин), овощи (морковь сушеная, зелень петрушки), дрожжи пивные, метионин.',
        'weight':'10'
      },

    ],
    'kids': {
      'group_1': {
        'caption':'Детское питание (пакеты типа "ПАУЧ") масса 90г.',
        'id': 'group1',
        'list': [
          {
            'name':'Пюре из яблок',
            'age':'с 4 ',
            'term':'1 год',
            'amount':'18'
          },
          {
            'name':'Пюре персиковое',
            'age':'с 4',
            'term':'1 год',
            'amount':'18'
          },
          {
            'name':'Пюре грушевое',
            'age':'с 4',
            'term':'1 год',
            'amount':'18'
          },
          {
            'name':'Пюре из груш и яблок',
            'age':'с 5',
            'term':'1 год',
            'amount':'18'
          },
          {
            'name':'Пюре из чернослива',
            'age':'с 4',
            'term':'1 год',
            'amount':'18'
          },
          {
            'name':'Пюре яблоко+малина с сахаром',
            'age':'с 5',
            'term':'1 год',
            'amount':'18'
          },
          {
            'name':'Пюре яблоко+персик с сахаром',
            'age':'с 5',
            'term':'1 год',
            'amount':'18'
          },
          {
            'name':'Пюре из яблок и банана',
            'age':'с 6 ',
            'term':'1 год',
            'amount':'18'
          },
          {
            'name':'Пюре из яблок, груш и персиков',
            'age':'с 5',
            'term':'1 год',
            'amount':'18'
          },
          {
            'name':'Пюре из яблок, черники и малины',
            'age':'с 5',
            'term':'1 год',
            'amount':'18'
          },
          {
            'name':'Пюре из яблок, банана, малины и вишни',
            'age':'с 6 ',
            'term':'1 год',
            'amount':'18'
          },
          {
            'name':'Пюре из груши, банана и киви ',
            'age':'с 8',
            'term':'1 год',
            'amount':'18'
          },
          {
            'name':'Пюре из манго',
            'age':'с 6',
            'term':'1 год',
            'amount':'18'
          },
        ]
      },
      'group_2': {
        'caption':'Детское питание   без   сахара.  ПТ - 100г. ',
        'id': 'group2',
        'list': [
          {
            'name':'Пюре из яблок',
            'age':'с 4',
            'term':'2 года',
            'amount':'12'
          },
          {
            'name':'Пюре из чернослива',
            'age':'с 4',
            'term':'2 года',
            'amount':'12'
          },
          {
            'name':'Пюре морковное',
            'age':'с 4',
            'term':'2 года',
            'amount':'12'
          },
          {
            'name':'Пюре тыквенное',
            'age':'с 4',
            'term':'2 года',
            'amount':'12'
          },
        ]
      },
      'group_3': {
        'caption':' Детское питание. Стеклобутылочка ТО – 250 мл',
        'id': 'group3',
        'list': [
          {
            'name':'Сок яблочный прямого отжима',
            'age':'с 4',
            'term':'2 года',
            'amount':'18'
          },
          {
            'name':'Сок морковный прямого отжима',
            'age':'c 6',
            'term':'2 года',
            'amount':'18'
          },
          {
            'name':'Сок морковно-яблочный прямого отжима',
            'age':'c 6',
            'term':'2 года',
            'amount':'18'
          },
          {
            'name':'Нектар из яблок и клубники с мякотью',
            'age':'c 6',
            'term':'2 года',
            'amount':'18'
          },
          {
            'name':'Нектар из яблок и малины с мякотью',
            'age':'с 5',
            'term':'2 года',
            'amount':'18'
          },
          {
            'name':'Нектар из яблок и персика с мякотью',
            'age':'с 4',
            'term':'2 года',
            'amount':'18'
          },
        ]
      },
      'group_4': {
        'caption':' Детское питание.  Нектары с сахаром.   ТО -185мл',
        'id': 'group4',
        'list': [
          {
            'name':'Нектар из яблочно-банановый с мякотью',
            'age':'с 6 ',
            'term':'2 года',
            'amount':'12'
          },
          {
            'name':'Нектар морковный с мякотью',
            'age':'с 4',
            'term':'2 года',
            'amount':'12'
          },
          {
            'name':'Нектар тыквенный с мякотью',
            'age':'с 4',
            'term':'2 года',
            'amount':'12'
          },

        ]
      },
      'group_5': {
        'caption':' Детское питание. Пюре без сахара. ТО-190г',
        'id': 'group5',
        'list': [
          {
            'name':'Пюре из яблок',
            'age':'с 4',
            'term':'2 года',
            'amount':'12'
          },
          {
            'name':'Пюре из груш и яблок',
            'age':'с 5',
            'term':'2 года',
            'amount':'12'
          },
          {
            'name':'Пюре из яблок, груш и банана "Фрукт. салатик"',
            'age':'с 6',
            'term':'1 год',
            'amount':'12'
          },
          {
            'name':'Пюре из яблок, клубники и банана',
            'age':'с 6',
            'term':'2 года',
            'amount':'12'
          },
          {
            'name':'Пюре из яблок, груш и персиков',
            'age':'с 5',
            'term':'2 года',
            'amount':'12'
          },
          {
            'name':'Пюре из яблок, банана, малины и вишни',
            'age':'с 6',
            'term':'2 года',
            'amount':'12'
          },
          {
            'name':'Пюре из персиков, яблок и банана',
            'age':'с 6',
            'term':'2 года',
            'amount':'12'
          },
          {
            'name':'Пюре яблочно-банановое со сливками',
            'age':'с 6',
            'term':'1 год',
            'amount':'12'
          },
          {
            'name':'Пюре из яблок и банана со сливками и творогом',
            'age':'с 6',
            'term':'1 год',
            'amount':'12'
          },
          {
            'name':'Пюре из яблок и груш с творогом и сливками',
            'age':'с 6',
            'term':'1 год',
            'amount':'12'
          },
          {
            'name':'Пюре из яблок и персиков с творогом и сливками',
            'age':'с 6',
            'term':'1 год',
            'amount':'12'
          },
          {
            'name':'Пюре морковное',
            'age':'с 4',
            'term':'2 года',
            'amount':'12'
          },

        ]
      },
      'group_6': {
        'caption':' Пюре с добавлением сахара, сливок, творога! ТО - 190г',
        'id': 'group6',
        'list': [
          {
            'name':'Пюре яблочное с сахаром',
            'age':'с 4',
            'term':'2 года',
            'amount':'12'
          },
          {
            'name':'Пюре из груш, слив и яблок с сахаром',
            'age':'с 5',
            'term':'2 года',
            'amount':'12'
          },
          {
            'name':'Пюре яблочное со сливками',
            'age':'с 6',
            'term':'1 год',
            'amount':'12'
          },
          {
            'name':'Пюре яблочное с творогом',
            'age':'с 6',
            'term':'1 год',
            'amount':'12'
          },
          {
            'name':'Пюре яблоко+ земляника (клубника) с сахаром',
            'age':'с 6',
            'term':'2 года',
            'amount':'12'
          },
          {
            'name':'Пюре из яблок с земляникой (клубникой) и сливками',
            'age':'с 6',
            'term':'1 год',
            'amount':'12'
          },
          {
            'name':'Пюре яблоко+малина с сахаром',
            'age':'с 5',
            'term':'2 года',
            'amount':'12'
          },
          {
            'name':'Пюре из яблок с малиной и сливками',
            'age':'с 6',
            'term':'1 год',
            'amount':'12'
          },
          {
            'name':'Пюре яблоко+персик с сахаром',
            'age':'с 5',
            'term':'2 года',
            'amount':'12'
          },
          {
            'name':'Пюре из яблок с персиками и сливками',
            'age':'с 6',
            'term':'1 год',
            'amount':'12'
          },
          {
            'name':'Пюре из яблок с вишней и сливками ',
            'age':'с 6',
            'term':'1 год',
            'amount':'12'
          },
          {
            'name':'Пюре из моркови и яблок с сахаром',
            'age':'с 5',
            'term':'2 года',
            'amount':'12'
          },
          {
            'name':'Пюре из моркови, яблок и тыквы с сахаром',
            'age':'с 5',
            'term':'2 года',
            'amount':'12'
          },
          {
            'name':'Пюре из тыквы и яблок с сахаром',
            'age':'с 5',
            'term':'2 года',
            'amount':'12'
          },

        ]
      },
    },
    'confectionery': {
      'group_1': {
        'caption': 'Мед',
        'id': 'group1',
        'list': [
          {
            'name':'Крем- мед с вишней, бан. 140 гр',
            'amount':'140 гр.',
            'weight':'6',
            'term':'12'
          },
          {
            'name':'Крем- мед с лимоном и имбирем, бан. 140 гр',
            'amount':'140 гр.',
            'weight':'6',
            'term':'12'
          },
          {
            'name':'Крем- мед с клюквой, бан. 140 гр',
            'amount':'140 гр.',
            'weight':'6',
            'term':'12'
          },
          {
            'name':'Крем- мед с клубникой, бан. 140 гр',
            'amount':'140 гр.',
            'weight':'6',
            'term':'12'
          },
          {
            'name':'Крем- мед с черникой, бан. 140 гр',
            'amount':'140 гр.',
            'weight':'6',
            'term':'12'
          }]
      },
      'group_2': {
        'caption':'Драже',
        'id':'group2',
        'list': [
          {
            'name':'Цитрусовое',
            'amount':'кг',
            'weight':'4',
            'term':'6'
          },
          {
            'name':'Разноцветный арахис',
            'amount':'кг',
            'weight':'4',
            'term':'6'
          },
          {
            'name':'Арахис в сахаре',
            'amount':'кг',
            'weight':'4',
            'term':'6'
          },
          {
            'name':'Арахис в какао',
            'amount':'кг',
            'weight':'4',
            'term':'6'
          },
          {
            'name':'Мятное  ',
            'amount':'кг',
            'weight':'4',
            'term':'3'
          },
          {
            'name':'Зерна кофе в шоколаде',
            'amount':'кг',
            'weight':'2',
            'term':'6'
          },
          {
            'name':'Фундук в шоколаде',
            'amount':'кг',
            'weight':'3.5',
            'term':'6'
          },
          {
            'name':'Миндаль в шоколаде',
            'amount':'кг',
            'weight':'3.5',
            'term':'6'
          },
        ]
      },
      'group_3': {
        'caption':'Драже ТМ " Vot эtti"',
        'id':'group3',
        'list': [
          {
            'name':'Мятное ТМ "Vot Эtti"',
            'amount':'пак. 75 гр',
            'weight':'48',
            'term':'3'
          },
        ]
      },
      'group_4': {
        'caption':'Драже ТМ "Sweet & FIT"',
        'id':'group4',
        'list': [
          {
            'name':'Арахис в сахаре ТМ "Sweet & Fit"',
            'amount':'пак. 75 гр',
            'weight':'48',
            'term':'6'
          },
          {
            'name':'Арахисовое ТМ "Sweet & Fit" ',
            'amount':'пак. 75 гр',
            'weight':'48',
            'term':'6'
          },
        ]
      },
      'group_5': {
        'caption':'Зефир весовой',
        'id':'group5',
        'list': [
          {
            'name':'Зефир Ванильный',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'Зефир Бело-розовый',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'Зефир Клубничный ',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'Зефир Крем-брюле',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'Зефир Клюквенный ',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'Зефир Черносмородиновый',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'Зефир Сливочный в вафельной крошке',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'Зефир Черничный ',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'Зефир Малиновый с витаминами',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'Зефир Яблочный',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'Зефир Земляничный',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'Зефир Лимонный с ибирем',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'Зефир Брусничный с красным перцем',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'Зефир "Грушевый"',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'Зефир "Гранатовый"',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'Зефир "Банановый"',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'Зефир "Ягодный микс"',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'Зефир "Розочка"',
            'amount':'кг',
            'weight':'1,7',
            'term':'4'
          },
          {
            'name':'Зефир "Розочка" кофейная',
            'amount':'кг',
            'weight':'1,7',
            'term':'4'
          },
          {
            'name':'Зефир Розочка ванильная на агаре',
            'amount':'кг',
            'weight':'1,7',
            'term':'4'
          },
          {
            'name':'Зефир с ароматом розы',
            'amount':'кг',
            'weight':'1,7',
            'term':'4'
          },
          {
            'name':'Зефир с ароматом жасмина',
            'amount':'кг',
            'weight':'1,7',
            'term':'4'
          },
          {
            'name':'Зефир с ароматом липы',
            'amount':'кг',
            'weight':'1,7',
            'term':'4'
          },
          {
            'name':'Зефир в белой глазуре с мармеладом вкус клубники',
            'amount':'кг',
            'weight':'3',
            'term':'4'
          },
          {
            'name':'Зефир в белой глазуре с мармеладом вкус дюшеса',
            'amount':'кг',
            'weight':'3',
            'term':'4'
          },
        ]
      },
      'group_6': {
        'caption':'Зефир с начинкой',
        'id':'group6',
        'list': [
          {
            'name':'С абрикос начинкой',
            'amount':'кг',
            'weight':'3',
            'term':'4'
          },
          {
            'name':'С апельсин начинкой',
            'amount':'кг',
            'weight':'3',
            'term':'4'
          },
          {
            'name':'С клубничной начинкой',
            'amount':'кг',
            'weight':'3',
            'term':'4'
          },
          {
            'name':'С вишневой начинкой',
            'amount':'кг',
            'weight':'3',
            'term':'4'
          },
        ]
      },
      'group_7': {
        'caption':'Зефир в шоколаде',
        'id':'group7',
        'list': [
          {
            'name':'Зефир Ванильный в шоколаде',
            'amount':'кг',
            'weight':'2',
            'term':'4'
          },
          {
            'name':'Зефир в белой глазури',
            'amount':'кг',
            'weight':'2',
            'term':'4'
          },
          {
            'name':'Декорированный шоколадом',
            'amount':'кг',
            'weight':'2',
            'term':'4'
          },
          {
            'name':'Зефир Бобруйский',
            'amount':'кг',
            'weight':'3',
            'term':'4'
          },
        ]
      },
      'group_8': {
        'caption':'Классический зефир тм Первый Бобруйский',
        'id':'group8',
        'list': [
          {
            'name':'Бело-розовый',
            'amount':'125 гр (коррекс)',
            'weight':'30',
            'term':'4'
          },
          {
            'name':'Ванильный',
            'amount':'125 гр (коррекс)',
            'weight':'30',
            'term':'4'
          },
          {
            'name':'Ванильный ',
            'amount':'250 гр (коррекс)',
            'weight':'15',
            'term':'4'
          },
          {
            'name':'Бело-розовый',
            'amount':'250 гр (коррекс)',
            'weight':'15',
            'term':'4'
          },
          {
            'name':'Крем-брюле ',
            'amount':'250 гр (коррекс)',
            'weight':'15',
            'term':'4'
          },
          {
            'name':'Малиновый с витаминами (с малиновым пюре!)',
            'amount':'250 гр (коррекс)',
            'weight':'15',
            'term':'4'
          },
          {
            'name':'Черносмородиновый (с пюре черной смородины!)',
            'amount':'250 гр (коррекс)',
            'weight':'15',
            'term':'4'
          },
          {
            'name':'Клубничный (с клубничным пюре!)',
            'amount':'250 гр (коррекс)',
            'weight':'15',
            'term':'4'
          },
          {
            'name':'Клюквенный (с клюквенным пюре!)',
            'amount':'250 гр (коррекс)',
            'weight':'15',
            'term':'4'
          },
          {
            'name':'Гранатовый',
            'amount':'250 гр (коррекс)',
            'weight':'15',
            'term':'4'
          },
          {
            'name':'Банановый',
            'amount':'250 гр (коррекс)',
            'weight':'15',
            'term':'4'
          },
          {
            'name':'В шоколаде ТМ "Первый Бобруйский" (ФлоуПак)',
            'amount':'кг',
            'weight':'1,8',
            'term':'4'
          },
          {
            'name':'В шоколаде ТМ "Первый Бобруйский"',
            'amount':'230 гр.',
            'weight':'8',
            'term':'4'
          },
        ]
      },
      'group_9': {
        'caption':'Зефир тм Festini',
        'id':'group9',
        'list': [
          {
            'name':'Зефир  с абрикосовой начинкой',
            'amount':'250 гр (коррекс)',
            'weight':'16',
            'term':'4'
          },
          {
            'name':'Зефир  с апельсиновой начинкой ',
            'amount':'250 гр (коррекс)',
            'weight':'16',
            'term':'4'
          },
          {
            'name':'Зефир  с вишневой  начинкой',
            'amount':'250 гр (коррекс)',
            'weight':'16',
            'term':'4'
          },
          {
            'name':'Зефир  с клубничной начинкой',
            'amount':'250 гр (коррекс)',
            'weight':'16',
            'term':'4'
          },
        ]
      },
      'group_10': {
        'caption':'Зефир ТМ "Чаровей"',
        'id':'group10',
        'list': [
          {
            'name':'Ванильный в шоколаде (ТМ Чаровей)',
            'amount':'95 гр',
            'weight':'30',
            'term':'4'
          },
          {
            'name':'Ванильный в шоколаде (ТМ Чаровей)',
            'amount':'300 гр',
            'weight':'15',
            'term':'4'
          },
        ]
      },
      'group_11': {
        'caption':'Зефир ТМ Ешики',
        'id':'group11',
        'list': [
          {
            'name':'Со вкусом малины содержит натуральный сок',
            'amount':'180 гр',
            'weight':'7',
            'term':'7'
          },
          {
            'name':'Со вкусом Персика с йогуртом',
            'amount':'180 гр',
            'weight':'7',
            'term':'7'
          },
          {
            'name':'Со вкусом Банана с творогом',
            'amount':'180 гр',
            'weight':'7',
            'term':'7'
          },
        ]
      },
      'group_12': {
        'caption':'Зефир ТМ "Zefir.by"',
        'id':'group12',
        'list': [
          {
            'name':'Ванильный в шоколаде ТМ "Zefir.by". Обновленная коробка классического зефира в шоколаде с белорусскими узорами!',
            'amount':'250 гр',
            'weight':'12',
            'term':'4'
          },
        ]
      },
      'group_13': {
        'caption':'Подарочные коробки - РУЧНАЯ РАБОТА',
        'id':'group13',
        'list': [
          {
            'name':'Грибы зефирные ТМ "Мастер зефирных дел"',
            'amount':'300 гр',
            'weight':'6',
            'term':'4'
          },
          {
            'name':'Набор "Прывiтанне з Беларусi"  (Привет из Беларуси) (состоит из трех наименований зефира: "Бобруйский", "Одуванчик", "В шоколаде с кокосом")',
            'amount':'365 гр',
            'weight':'3',
            'term':'4'
          },
          {
            'name':'Бобруйский (глазирован шоколадной глазурью, смешанной с дробленым жареным ядром арахиса)ТМ "Мастер зефирных дел"',
            'amount':'330 гр',
            'weight':'6',
            'term':'4'
          },
          {
            'name':'Набор "Бобруйский сувенир" (состоит из 5 наименований зефира: "Бобруйский", "Одуванчик", "В шоколаде с кокосовой стружкой", "Грибы зефирные", "Фантазия")',
            'amount':'650 гр',
            'weight':'3',
            'term':'2'
          },
          {
            'name':'Набор "Красный пищевик" (состоит из трех наименований: "Бобруйский", "Одуванчик", "В шоколаде с кокосовой стружкой")',
            'amount':'500 гр',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'Набор "Роза" (состоит из 4 наименований зефира, глазированного шоколадной глазурью: "Бобруйский", "Фантазия", "Грибы зефирные" и "Бело-розовый")',
            'amount':'1800 гр',
            'weight':'2',
            'term':'4'
          },
        ]
      },
      'group_14': {
        'caption':'ЗЕФИР ТМ "Lefirelle" ',
        'id':'group14',
        'list': [
          {
            'name':'"Lefirelle" Бело-розовый',
            'amount':'230 гр',
            'weight':'15',
            'term':'4'
          },
          {
            'name':'"Lefirelle" Ванильный',
            'amount':'230 гр',
            'weight':'15',
            'term':'4'
          },
          {
            'name':'"Lefirelle" С ароматом Сливок',
            'amount':'230 гр',
            'weight':'15',
            'term':'4'
          },
          {
            'name':'"Lefirelle" Со вкусом Пломбира',
            'amount':'230 гр',
            'weight':'15',
            'term':'4'
          },
          {
            'name':'"Lefirelle" Бело-розовый',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'"Lefirelle" Ванильный',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'"Lefirelle" С ароматом Сливок',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'"Lefirelle" Со вкусом Пломбира',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
        ]
      },
      'group_15': {
        'caption':'Продукция без добавления сахара NANO FIT',
        'id':'group15',
        'list': [
          {
            'name':'Драже "Лимонное" без добавления сахара',
            'amount':'пак. 75 гр',
            'weight':'20',
            'term':'3'
          },
          {
            'name':'Зефир "Ванильный" без добавления сахара',
            'amount':'кор. АЗС 240 гр',
            'weight':'15',
            'term':'4'
          },
          {
            'name':'Халва подсолнечная без добавления сахара',
            'amount':'бан. 350 гр',
            'weight':'12',
            'term':'6'
          },
          {
            'name':'Зефир "Ванильный" без добавления сахара',
            'amount':'кор. АЗС 120 гр',
            'weight':'30',
            'term':'4'
          },
          {
            'name':'Зефир "Черничныйй" без добавления сахара',
            'amount':'кор. АЗС 120 гр',
            'weight':'30',
            'term':'4'
          },
        ]
      },
      'group_16': {
        'caption':'Мармелад желейный',
        'id':'group16',
        'list': [
          {
            'name':'Желейный',
            'amount':'кг',
            'weight':'3',
            'term':'3'
          },
          {
            'name':'Трехслойный',
            'amount':'кг',
            'weight':'3',
            'term':'3'
          },
          {
            'name':'Грушевые дольки',
            'amount':'кг',
            'weight':'3',
            'term':'4'
          },
          {
            'name':'Лимонные и апельсиновые дольки',
            'amount':'кг',
            'weight':'3',
            'term':'4'
          },
          {
            'name':'Дольки Лайма',
            'amount':'кг',
            'weight':'3',
            'term':'4'
          },
          {
            'name':'Дольки Грейпфрута',
            'amount':'кг',
            'weight':'3',
            'term':'4'
          },
          {
            'name':'Дольки цитрусовые',
            'amount':'кг',
            'weight':'3',
            'term':'4'
          },
          {
            'name':'Дольки со вкусом киви',
            'amount':'кг',
            'weight':'3',
            'term':'4'
          },
          {
            'name':'Дольки со вкусом арбуза и дыни',
            'amount':'кг',
            'weight':'3',
            'term':'4'
          },
          {
            'name':'Виноградные дольки',
            'amount':'кг',
            'weight':'3',
            'term':'4'
          },
          {
            'name':'Гранатовые дольки',
            'amount':'кг',
            'weight':'3',
            'term':'4'
          },
          {
            'name':'Крыжовниковые дольки',
            'amount':'кг',
            'weight':'3',
            'term':'4'
          },
          {
            'name':'Марселад со вкусом клубники и сливок',
            'amount':'кг',
            'weight':'3',
            'term':'4'
          },
          {
            'name':'Мармеладные рулетики мелкорезанные',
            'amount':'кг',
            'weight':'3',
            'term':'4'
          },
          {
            'name':'Мармелад с ягодно - сливочным вкусом ',
            'amount':'кг',
            'weight':'4',
            'term':'3'
          },
          {
            'name':'Полечка семислойный с кокосовой стружкой',
            'amount':'кг',
            'weight':'3.5',
            'term':'3'
          },
          {
            'name':'Волнистый со вкусом лимона',
            'amount':'кг',
            'weight':'3',
            'term':'3'
          },
          {
            'name':'Пластовый яблочный',
            'amount':'кг',
            'weight':'5',
            'term':'3'
          },
          {
            'name':'Мармелад с фруктовыми вкусами',
            'amount':'кг',
            'weight':'3',
            'term':'3'
          },
          {
            'name':'Разноцветные дольки ',
            'amount':'кг',
            'weight':'3',
            'term':'3'
          },
          {
            'name':'Мармелад Молочный ',
            'amount':'кг',
            'weight':'3',
            'term':'3'
          },
          {
            'name':'Мармелад Виноградная Улитка ',
            'amount':'кг',
            'weight':'3',
            'term':'3'
          },
          {
            'name':'Мармелад Инь-Янь',
            'amount':'кг',
            'weight':'3',
            'term':'3'
          },
        ]
      },
      'group_17': {
        'caption':'Пастила',
        'id':'group17',
        'list': [
          {
            'name':'Бобруйская яблочная пастила',
            'amount':'кг',
            'weight':'4',
            'term':'3'
          },
          {
            'name':'Бобруйская яблочная пастила с клубникой',
            'amount':'кг',
            'weight':'4',
            'term':'3'
          },
          {
            'name':'Бобруйская яблочная пастила с лесными ягодами',
            'amount':'кг',
            'weight':'4',
            'term':'3'
          },
          {
            'name':'Бобруйская яблочная пастила с малиной',
            'amount':'кг',
            'weight':'4',
            'term':'3'
          },
          {
            'name':'Бобруйская яблочная пастила с черникой',
            'amount':'кг',
            'weight':'4',
            'term':'3'
          },
        ]
      },
      'group_18': {
        'caption':'Жевательный мармелад',
        'id':'group18',
        'list': [
          {
            'name':'Веселая осень',
            'amount':'кг',
            'weight':'4',
            'term':'7'
          },
          {
            'name':'Чудо-фрукты',
            'amount':'кг',
            'weight':'4',
            'term':'7'
          },
        ]
      },
      'group_19': {
        'caption':'Мармелад желейный',
        'id':'group19',
        'list': [
          {
            'name':'Желейный (ассорти: барбарис, дюшес, тропик, изабелла)',
            'amount':'210 гр (пакет)',
            'weight':'18',
            'term':'4'
          },
          {
            'name':'Грушевые дольки',
            'amount':'210 гр (пакет)',
            'weight':'18',
            'term':'4'
          },
          {
            'name':'Дольки Лайма',
            'amount':'210 гр (пакет)',
            'weight':'18',
            'term':'4'
          },
          {
            'name':'Дольки Грейпфрута',
            'amount':'210 гр (пакет)',
            'weight':'18',
            'term':'4'
          },
          {
            'name':'Лимонные и апельсиновые дольки',
            'amount':'210 гр (пакет)',
            'weight':'18',
            'term':'4'
          },
          {
            'name':'Мармеладные рулетики мелкорезанные',
            'amount':'265 гр (коррекс)',
            'weight':'12',
            'term':'4'
          },
          {
            'name':'Волнистый со вкусом лимона',
            'amount':'210 гр (пакет)',
            'weight':'18',
            'term':'4'
          },
          {
            'name':'Мармелад Виноградная Улитка (без сахарной обсыпки)',
            'amount':'300 гр ',
            'weight':'16',
            'term':'3'
          },
          {
            'name':'Мармелад Инь-Янь (без сахарной обсыпки)',
            'amount':'300 гр ',
            'weight':'16',
            'term':'3'
          },
        ]
      },
      'group_20': {
        'caption':'Здоровое питание-Мармелад сокосодержащий',
        'id':'group20',
        'list': [
          {
            'name':'Лимонный сокосодержащий (коррекс)',
            'amount':'300 гр',
            'weight':'16',
            'term':'3'
          },
          {
            'name':'Мультифруктовый сокосодержащий (коррекс)',
            'amount':'300 гр',
            'weight':'16',
            'term':'3'
          },
          {
            'name':'Клюквенный сокосодержащий (коррекс)',
            'amount':'300 гр',
            'weight':'16',
            'term':'3'
          },
          {
            'name':'Вишневый сокосодержащий (коррекс)',
            'amount':'300 гр',
            'weight':'16',
            'term':'3'
          },
          {
            'name':'Микс (лимон, клубника, апельсин)',
            'amount':'300 гр',
            'weight':'16',
            'term':'3'
          },
        ]
      },
      'group_21': {
        'caption':'Мармелад сокосодержащий весовой',
        'id':'group21',
        'list': [
          {
            'name':'Апельсиновый сокосодержащий ',
            'amount':'кг',
            'weight':'3',
            'term':'3'
          },
          {
            'name':'Лимонный сокосодержащий',
            'amount':'кг',
            'weight':'3',
            'term':'3'
          },
          {
            'name':'Мультифруктовый сокосодержащий ',
            'amount':'кг',
            'weight':'3',
            'term':'3'
          },
          {
            'name':'Клубничный сокосодержащий ',
            'amount':'кг',
            'weight':'3',
            'term':'3'
          },
          {
            'name':'Вишневый сокосодержащий ',
            'amount':'кг',
            'weight':'3',
            'term':'3'
          },
          {
            'name':'Клюквенный сокосодержащий ',
            'amount':'кг',
            'weight':'3',
            'term':'3'
          },
          {
            'name':'Малиновый сокосодержащий',
            'amount':'кг',
            'weight':'3',
            'term':'3'
          },
        ]
      },
      'group_22': {
        'caption':'Мармелад  жевательный. ТМ "Verry Berry"',
        'id':'group22',
        'list': [
          {
            'name':'"Мармелад ТМ Verry Berry «Фруктово-ягодный микс»"',
            'amount':'75 гр',
            'weight':'24',
            'term':'7'
          },
          {
            'name':'"Мармелад ТМ Verry Berry «Ягодно-цитрусовый микс»"',
            'amount':'75 гр',
            'weight':'24',
            'term':'7'
          },
          {
            'name':'"Мармелад ТМ Verry Berry «Ягодный»"',
            'amount':'75 гр',
            'weight':'24',
            'term':'7'
          },
          {
            'name':'"Мармелад ТМ Verry Berry «с Витаминами»"',
            'amount':'75 гр',
            'weight':'24',
            'term':'7'
          },
          {
            'name':'"Мармелад ТМ Verry Berry «Фруктово-ягодный микс в сладкой посыпке»"',
            'amount':'75 гр',
            'weight':'24',
            'term':'7'
          },
        ]
      },
      'group_23': {
        'caption':'Халва и Паста',
        'id':'group23',
        'list': [
          {
            'name':'Паста арахисовая',
            'amount':'бан. 300 гр',
            'weight':'12',
            'term':'6'
          },
          {
            'name':'Паста арахисовая  со взрывной карамелью',
            'amount':'бан. 300 гр',
            'weight':'12',
            'term':'6'
          },
          {
            'name':'Паста подсолнечная со взрывной карамелью',
            'amount':'бан. 300 гр',
            'weight':'12',
            'term':'6'
          },
          {
            'name':'Паста из фундука с какао',
            'amount':'бан. 300 гр',
            'weight':'12',
            'term':'6'
          },
          {
            'name':'Подсолнечная сахарная весовая',
            'amount':'кг',
            'weight':'5',
            'term':'4'
          },
          {
            'name':'Подсолнечная сахарная 60 гр',
            'amount':'шт',
            'weight':'120',
            'term':'6'
          },
          {
            'name':'Подсолнечная сахарная 240 гр',
            'amount':'шт',
            'weight':'16',
            'term':'6'
          },
          {
            'name':'Подсолнечная глазированная 77 гр',
            'amount':'шт',
            'weight':'90',
            'term':'5'
          },
          {
            'name':'Подсолнечная "Орешек"',
            'amount':'кг',
            'weight':'5',
            'term':'4'
          },
          {
            'name':'Подсолнечная "Орешек" 60 гр',
            'amount':'шт',
            'weight':'120',
            'term':'6'
          },
          {
            'name':'Подсолнечная "Орешек" 240 гр (4 батончика в упаковке)',
            'amount':'шт',
            'weight':'16',
            'term':'6'
          },
          {
            'name':'Ванильный аромат',
            'amount':'кг',
            'weight':'5',
            'term':'4'
          },
          {
            'name':'Ванильный аромат 60 гр',
            'amount':'шт',
            'weight':'120',
            'term':'6'
          },
          {
            'name':'Ванильный аромат 240 гр (4 батончика в упаковке)',
            'amount':'шт',
            'weight':'16',
            'term':'6'
          },
          {
            'name':'Ассорти (сахарная, орешек, ванильная) 60 гр',
            'amount':'шт',
            'weight':'60',
            'term':'6'
          },
          {
            'name':'Арахисовая весовая',
            'amount':'кг',
            'weight':'5',
            'term':'4'
          },
        ]
      },
      'group_24': {
        'caption':'КОНФЕТЫ ТМ "Белорусочка" !!Новинка!!',
        'id':'group24',
        'list': [
          {
            'name':'Крыжовниковые',
            'amount':'кор. 290 гр',
            'weight':'10',
            'term':'6'
          },
          {
            'name':'Крыжовниковые',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'Черничные',
            'amount':'кор. 290 гр',
            'weight':'10',
            'term':'6'
          },
          {
            'name':'Черничные',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'Черносмородиновые',
            'amount':'кор. 290 гр',
            'weight':'10',
            'term':'6'
          },
          {
            'name':'Черносмородиновые',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'Земляничные',
            'amount':'кор. 290 гр',
            'weight':'10',
            'term':'6'
          },
          {
            'name':'Земляничные',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
          {
            'name':'Клюквенные',
            'amount':'кор. 290 гр',
            'weight':'10',
            'term':'6'
          },
          {
            'name':'Клюквенные',
            'amount':'кг',
            'weight':'4',
            'term':'4'
          },
        ]
      },
      'group_25': {
        'caption':'Конфеты Confemillio фасованные	',
        'id':'group25',
        'list': [
          {
            'name':'ТМ "Cоnfemillio" Кокос-ананас',
            'amount':'160 гр',
            'weight':'10',
            'term':'6'
          },
          {
            'name':'ТМ "Cоnfemillio" Киви-банан',
            'amount':'160 гр',
            'weight':'10',
            'term':'6'
          },
          {
            'name':'ТМ "Cоnfemillio" Манго-пломбир',
            'amount':'160 гр',
            'weight':'10',
            'term':'6'
          },
          {
            'name':'ТМ "Cоnfemillio" Банан-клубника',
            'amount':'160 гр',
            'weight':'10',
            'term':'6'
          },
          {
            'name':'ТМ "Cоnfemillio" Киви-клубника',
            'amount':'160 гр',
            'weight':'10',
            'term':'6'
          },
          {
            'name':'ТМ "Cоnfemillio" Апельсин-пломбир',
            'amount':'160 гр',
            'weight':'10',
            'term':'6'
          },
        ]
      },
      'group_26': {
        'caption':'Шоколад КАКАО БОБРЫ',
        'id':'group26',
        'list': [
          {
            'name':'Шоколад "Красный пищевик" с арахисом и соленой карамелью',
            'amount':'100гр',
            'weight':'16',
            'term':'6'
          },
          {
            'name':'Шоколад "Красный пищевик" с арахисом, кукурузными хлопьями и рисовыми шариками',
            'amount':'100гр',
            'weight':'16',
            'term':'6'
          },
        ]
      },
      'group_27': {
        'caption':'Конфеты ТМ Sweetlo',
        'id':'group27',
        'list': [
          {
            'name':'Подсолнечник в мягкой карамели',
            'amount':'кг',
            'weight':'3',
            'term':'6'
          },
          {
            'name':'Подсолнечник и лен в мягкой карамели',
            'amount':'кг',
            'weight':'3',
            'term':'6'
          },
          {
            'name':'Арахис в мягкой карамели',
            'amount':'кг',
            'weight':'3',
            'term':'6'
          },
          {
            'name':'Арахис и семена тыквы в мягкой карамели',
            'amount':'кг',
            'weight':'3',
            'term':'6'
          },
        ]
      },
      'group_28': {
        'caption':'Ирис',
        'id':'group28',
        'list': [
          {
            'name':'Ирис Тираженный полутвердыйй ИРИСО вкус нежно-сливочный ',
            'amount':'60 гр',
            'weight':'80',
            'term':'6'
          },
          {
            'name':'Ирис Тираженный Полутвердый вкус нежный арахис',
            'amount':'кг',
            'weight':'7',
            'term':'6'
          },
          {
            'name':'Ирис Тираженный Полутвердый вкус нежно-сливочный ',
            'amount':'кг',
            'weight':'7',
            'term':'6'
          },
        ]
      },
      'group_29': {
        'caption':'Козинаки и батончик',
        'id':'group29',
        'list': [
          {
            'name':'Козинак Подсолнечный',
            'amount':'50 гр',
            'weight':'30',
            'term':'3'
          },
          {
            'name':'Козинак Арахисовый',
            'amount':'50 гр',
            'weight':'30',
            'term':'3'
          },
          {
            'name':'Батончик с Цедрой апельсина TM WATSON',
            'amount':'бат. 40 гр.',
            'weight':'40',
            'term':'6'
          },
          {
            'name':'Батончик со вкусом капучино TM WATSON',
            'amount':'бат. 40 гр.',
            'weight':'40',
            'term':'6'
          },
          {
            'name':'Батончик энергетический с кофеином TM WATSON',
            'amount':'бат. 40 гр.',
            'weight':'40',
            'term':'6'
          },
        ]
      },
    },
    'conservation': {
      'group_2': {
        'caption':'Хрен, Горчица, Горчичный соус',
        'id': 'group2',
        'list': [
          {
            'name':'Хрен "Золотая капля" "Белорусский классический" твист-офф 1/170г',
            'term':'',
            'amount':'18'
          },
          {
            'name':'Хрен "Золотая капля" Белорусский со свеклой" твист-офф 1/170г',
            'term':'',
            'amount':'18'
          },
          {
            'name':'Горчица "Золотая капля" "Нежная" твист-офф 1/170г ',
            'term':'',
            'amount':'18'
          },
          {
            'name':'Горчица "Золотая капля" "Аппетитная" твист-офф 1/170г ',
            'term':'',
            'amount':'18'
          },
          {
            'name':'Горчица "Золотая капля" "Европейская" твист-офф 1/170г ',
            'term':'',
            'amount':'18'
          },
          {
            'name':'"Соус горчичный ""Американский оригинальный"" флакон 1/450г NEW!!!!"',
            'term':'',
            'amount':'18'
          },
        ]
      },
      'group_3': {
        'caption':'Кетчуп',
        'id': 'group3',
        'list': [
          {
            'name':'Кетчуп "Золотая капля" "Класический" нестерелизованный категория первая   пол-пак 1/250г',
            'term':'',
            'amount':'24'
          },
          {
            'name':'Кетчуп "Золотая капля"" Нежный" нестерелизованный категория первая  1/250гр пол-пак ',
            'term':'',
            'amount':'24'
          },
          {
            'name':'Кетчуп "Золотая капля" "Томатный" нестерелизованный категория первая  пол-пак 1/250г',
            'term':'',
            'amount':'24'
          },
          {
            'name':'Кетчуп "Золотая капля" "Шашлычный" нестерелизованный категория первая  пол-пак 1/250г',
            'term':'',
            'amount':'24'
          },
          {
            'name':'Кетчуп "Аджика" стерилизованный первая категория, т.зн. "Fazenda", в стеклянной банке, 490 г',
            'term':'',
            'amount':''
          },
          {
            'name':'Кетчуп "Татарский" стерилизованный первая категория, т.зн. "Fazenda", в стеклянной банке, 490 г',
            'term':'',
            'amount':''
          },
          {
            'name':'Кетчуп "Восточная кухня" стерилизованный первая категория, т.зн. "Fazenda", в стеклянной банке, 490 г',
            'term':'',
            'amount':''
          },
          {
            'name':'Кетчуп "Славянская кухня" стерилизованный первая категория, т.зн. "Fazenda", в стеклянной банке, 490 г',
            'term':'',
            'amount':''
          },
        ]
      },
      'group_4': {
        'caption':'Cоусы на майонезной основе',
        'id': 'group4',
        'list': [
          {
            'name':'Соус "Золотая капля" "Сливочно-чесночный" пол-пак 1/230г',
            'term':'',
            'amount':'13'
          },
          {
            'name':'Соус "Золотая капля" "СЫРНЫЙ" пол-пак 1/230г',
            'term':'',
            'amount':'13'
          },
          {
            'name':'Соус "Золотая капля" "Грибной" пол-пак 1/230г',
            'term':'',
            'amount':'13'
          },
        ]
      },
      'group_5': {
        'caption':'Майонез',
        'id': 'group5',
        'list': [
          {
            'name':'Майонез "Золотая капля" "Провансаль Люкс" 1/900гр емк.полимерная (ведро) ',
            'term':'',
            'amount':'4'
          },
          {
            'name':'Майонез "Золотая капля" "Провансаль Городской" 1/450гр  флакон',
            'term':'',
            'amount':'12'
          },
          {
            'name':'Майонез "Золотая капля" "Провансаль Люкс" 1/450гр  флакон',
            'term':'',
            'amount':'12'
          },
          {
            'name':'Майонез "Золотая капля" "Провансаль Городской" ведро 900 г',
            'term':'',
            'amount':'4'
          },
          {
            'name':'Майонез "Золотая капля" "Провансаль Люкс" п/э пакет 1/200 г',
            'term':'',
            'amount':'60'
          },
          {
            'name':'Майонез "Золотая капля" "Провансаль Городской" 1/200 п/эт пакет ',
            'term':'',
            'amount':'60'
          },
          {
            'name':'Майонез "Золотая капля" "Провансаль Премиум" 71% 1/300 стеклобанка, NEW!!!!',
            'term':'',
            'amount':'15'
          },
        ]
      },
      'group_6': {
        'caption':'Икра',
        'id': 'group6',
        'list': [
          {
            'name':'Икра из баклажанов ',
            'term':'2 года',
            'amount':''
          },
          {
            'name':'Икра из кабачков традиционная NEW',
            'term':'3 года',
            'amount':''
          },
          {
            'name':'Икра грибная',
            'term':'2 года',
            'amount':''
          },
          {
            'name':'Икра из свеклы',
            'term':'2 года',
            'amount':''
          },
        ]
      },
      'group_7': {
        'caption':'Закусочная консервация',
        'id': 'group7',
        'list': [
          {
            'name':'Баклажаны в аджике ',
            'term':'2 года',
            'amount':''
          },
          {
            'name':'Баклажаны с овощами жареные ',
            'term':'2 года',
            'amount':''
          },
          {
            'name':'Грибы маринованные шампиньоны "Закусочные"',
            'term':'2 года',
            'amount':''
          },
          {
            'name':'Перец сладкий маринованный',
            'term':'2 года',
            'amount':''
          },
          {
            'name':'Лечо по-болгарски ',
            'term':'2 года',
            'amount':''
          },
          {
            'name':'Рагу овощное из свежей капусты',
            'term':'2 года',
            'amount':''
          },
          {
            'name':'Солянка из свежей капусты ',
            'term':'3 года',
            'amount':''
          },
          {
            'name':'Закуска Минская из свежей капусты',
            'term':'2 года',
            'amount':''
          },
          {
            'name':'Рагу овощное (с баклажанами) ',
            'term':'2 года',
            'amount':''
          },
          {
            'name':'Закуска овощная "Закарпатская" ',
            'term':'2 года',
            'amount':''
          },
          {
            'name':'Фасоль с овощами',
            'term':'2 года',
            'amount':''
          },
          {
            'name':'Фасоль с грибами в т/с с растительным маслом',
            'term':'2 года',
            'amount':''
          },
          {
            'name':'Овощи с фасолью по-белорусски',
            'term':'2 года',
            'amount':''
          },
          {
            'name':'Солянка из свежей капусты с грибами',
            'term':'2 года',
            'amount':''
          },
          {
            'name':'Капуста тушеная с картошкой',
            'term':'3 года',
            'amount':''
          },
          {
            'name':'Свекла столовая маринованная',
            'term':'2 года',
            'amount':''
          },
        ]
      },
      'group_8': {
        'caption':'Обеденная консервация',
        'id': 'group8',
        'list': [
          {
            'name':'Рассольник',
            'term':'3 года',
            'amount':''
          },
          {
            'name':'Щи из свежей капусты ',
            'term':'3 года',
            'amount':''
          },
          {
            'name':'Борщ со свеж. капустой вегетарианский',
            'term':'3 года',
            'amount':''
          },
          {
            'name':'Борщ со свежей капустой',
            'term':'3 года',
            'amount':''
          },
        ]
      },
      'group_9': {
        'caption':'Фруктовая консервация',
        'id': 'group9',
        'list': [
          {
            'name':'Яблоки протертые с сахаром ',
            'term':'2 года',
            'amount':''
          },
          {
            'name':'Пюре фруктовое яблоко-слива с сахаром ',
            'term':'2 года',
            'amount':''
          },
          {
            'name':'Пюре яблочное стерилизованное, т.зн. "Fazenda", в стеклянной банке, 450 г',
            'term':'',
            'amount':''
          },
          {
            'name':'Пюре яблочно-персиковое стерилизованное, т.зн. "Fazenda", в стеклянной банке, 450 г',
            'term':'',
            'amount':''
          },
          {
            'name':'Пюре яблочно-грушевое стерилизованное, т.зн. "Fazenda", в стеклянной банке, 450 г',
            'term':'',
            'amount':''
          },
          {
            'name':'Пюре яблочно-банановое стерилизованное, т.зн. "Fazenda", в стеклянной банке, 450 г',
            'term':'',
            'amount':''
          },
          {
            'name':'Повидло яблочное т.зн. "Fazenda", 610 г',
            'term':'',
            'amount':''
          },
        ]
      },
      'group_10': {
        'caption':'Cоусы томатные',
        'id': 'group10',
        'list': [
          {
            'name':'Соус-паста "Болоньезе"',
            'term':'2 года',
            'amount':''
          },
          {
            'name':'Соус томатный минский домашний стерилизованный, т.зн. "Fazenda"',
            'term':'',
            'amount':''
          },
          {
            'name':'Соус томатный минский юбилейный стерилизованный, т.зн. "Fazenda"',
            'term':'',
            'amount':''
          },
        ]
      },
      'group_11': {
        'caption':'Продукция в ж/б',
        'id': 'group11',
        'list': [
          {
            'name':'Фасоль натуральная белая',
            'term':'2 года',
            'amount':''
          },
          {
            'name':'Фасоль в томатном соусе белая',
            'term':'2 года',
            'amount':''
          },
        ]
      },
      'group_12': {
        'caption':'Консервы овощные',
        'id': 'group12',
        'list': [
          {
            'name':'Горошек зеленый из мозговых сортов стерилизованный. Сорт высший., в стеклянной банке, 450 г',
            'term':'',
            'amount':''
          },
          {
            'name':'Горошек зеленый из мозговых сортов стерилизованный. Сорт первый., в стеклянной банке, 450 г',
            'term':'',
            'amount':''
          },
          {
            'name':'Горошек зеленый из мозговых сортов стерилизованный. Сорт второй., в стеклянной банке, 450 г',
            'term':'',
            'amount':''
          },
        ]
      },
      'group_13': {
        'caption':'Консервы мясные',
        'id': 'group13',
        'list': [
          {
            'name':'Консервы мясные кусковые "Говядина тушеная первый сорт", 338 г',
            'term':'3 года',
            'amount':''
          },
          {
            'name':'Консервы мясные кусковые " Свинина тушеная первый сорт", 338 г',
            'term':'3 года',
            'amount':''
          },
        ]
      },

    }
  };


mixin meet-group(name)
  tr(data-style='group-name')
    td(colspan="3" id=name.id)=name.caption
  each item in name.list
    tr(data-style='group-item')
      td.table__name=item.name
      td.table__term=item.term
      td.table__weight=item.weight
mixin milk-group
  each item in catalog.milk
    tr(data-style='group-item')
      td.table__name=item.name
      td.table__weight=item.weight
mixin drinks-group(name)
  tr(data-style='group-name')
    td(colspan='3' id=name.id)=name.caption
  each item in name.list
    tr(data-style='group-item' )
      td.table__name=item.name
      td.table__term=item.term
      td.table__amount=item.amount
mixin feed-group
  each item in catalog.feed
    tr(data-style='group-item')
      td.table__name=item.name
      td.table__weight=item.weight
mixin kids-group(name)
  tr(data-style='group-name')
    td(colspan="4" id=name.id)=name.caption
  each item in name.list
    tr(data-style='group-item')
      td.table__name=item.name
      td.table__age=item.age
      td.table__term=item.term
      td.table__amount=item.amount
mixin confectionery-group(name)
  tr(data-style='group-name')
    td(colspan="4" id=name.id)=name.caption
  each item in name.list
    tr(data-style='group-item')
      td.table__name=item.name
      td.table__amount=item.amount
      td.table__weight=item.weight
      td.table__term=item.term
mixin conservation-group(name)
  tr(data-style='group-name')
    td(colspan="4" id=name.id)=name.caption
    each item in name.list
      tr(data-style='group-item')
        td.table__name=item.name
        td.table__term=item.term
        td.table__amount=item.amount
